-unique_id = ActiveSupport::SecureRandom::hex(2)
-input_html = {:id => "", :class => "filter_args_input", :autocomplete => "off"}
-wrapper_html = {:id => "", :class => "filter_args"}

-if filter.field_type.in?(%w{date time datetime})
  -input_html[:class] += " datetime"
-elsif filter.field_type == "custom_select"
  :javascript
    $(document).ready(function() {
      $('##{unique_id}_custom_select').html(#{filter.association_name}_#{filter.field_name}_options);
    });
      
-if filter.criterion.match(/is_((not_)?set|today|yesterday)/)
  -form.inputs(:for => :args, :style => "display:none") do |args_fields|
    =args_fields.input '', :as => :string, :label => false, :input_html => input_html.merge(:value => ''), :wrapper_html => wrapper_html
-else
  -form.inputs :for => :args do |args_fields|
    -if filter.field_type == "custom_select"
      %li.filter_args
        =args_fields.select '', [], {}, input_html.merge(:id => "#{unique_id}_custom_select")
    -elsif filter.criterion.match(/^is_between/)
      -filter.args.each do |arg|
        =args_fields.input '', :as => :string, :label => false, :input_html => input_html.merge(:value => arg), :wrapper_html => wrapper_html
        -if filter.args.first == arg
          %li.clever_filter_args_filler and
    -elsif filter.criterion.match(/is_in_the_(next|last)/)
      =args_fields.input '', :as => :string, :label => false, :input_html => input_html.merge(:value => filter.args[0]), :wrapper_html => wrapper_html
      %li.filter_args
        =args_fields.select '', options_for_select(CleverFilter::DATE_DURATIONS, filter.args[1]), {}, input_html
    -else
      -filter.args.each do |arg|
        =args_fields.input '', :as => :string, :label => false, :input_html => input_html.merge(:value => arg), :wrapper_html => wrapper_html