-content_for :head do
  :javascript
    $(document).ready(function() {
      CleverFilter.init_datepickers();
    });
-semantic_form_for(report, :id => "clever_report_form") do |form|
  -(1..CleverReport::number_of_steps).each do |step|
    -form.inputs(:style => report.step_num == step ? '' : 'display: none;') do
      =render("step_#{step}_form", :form => form)
      =form.input :step_num, :as => :hidden
  -form.buttons do
    =form.commit_button report.last_step? ? "Finish" : "Next"