-report ||= form.object

=form.input :name, :label => "Report name", :required => false
=form.input :source_name, :as => :radio, :collection => model_options_for_clever_report, :include_blank => false, :label => "This report is a list of", :required => false
