-report ||= form.object
-if !report.source_name.blank?
  =form.input :field_names, :as => :check_boxes, :collection => options_for_clever_report(report.possible_field_names.sort), :label => report.source_name.pluralize

  -report.association_names.each do |association|
    -if !report.clever_stats_for(association).empty?
      .association_stats{:id => "#{association}_stats"}
        =form.input :field_names, :as => :check_boxes, :collection => options_for_clever_report(report.clever_stats_for(association), :clever_stat => true), :label => association.humanize, :wrapper_html => {:id => "clever_report_field_names_from_#{association}"}
    
    