-title @report.name

=export_as_table(@report)

-options_panel do
  =back_link
  =link_to("Export as CSV", :controller => "data_export", :action => "csv", :report_id => @report)
  =link_to("Edit report", edit_clever_report_path(@report))
  =link_to("Delete report", @report, :method => :delete, :confirm => "Are you sure?")