-content_for :head do
  =client_jqgrid_stylesheets
  =client_jqgrid_javascripts

-title @report.name
=#export_as_table(@report, :results)
-fields = fields_for_data_export(@report, :results)
=jqgrid('Report', "data_export_table", url_for_data_export(@report, :results, :fields => fields), fields, jqgrid_options(@report, :results, :height => 470))


-options_panel do
  =back_link
  =link_to("All reports", clever_reports_path)
  =link_to("Export as CSV", export_as_csv(@report, :results))
  =link_to("Edit report", edit_clever_report_path(@report))
  =link_to("Delete report", @report, :method => :delete, :confirm => "Are you sure?")
  