-report = form.object.report
-form.inputs :class => "clever_filter_form" do
  =form.input :association_name, :as => :select, :collection => options_for_clever_report(["contacts"] + report.association_names), :include_blank => false, :label => false, :input_html => {:class => "filter_association_name_input", :onchange => 'CleverFilter.set_field_name_options($(this))'}, :wrapper_html => {:class => "filter_association_name"}
  %li.select.optional.filter_field_name
    =form.select :field_name, options_for_clever_field_names(report.class_name, :selected => form.object.field_name), {}, :onchange => 'CleverFilter.set_criterion_options($(this))'
  =form.input :criterion, :as => :select, :collection => options_for_clever_report(HasCleverReports::STRING_FILTER_CRITERIA), :include_blank => false, :label => false, :wrapper_html => {:class => "filter_criterion"}
  =form.input :args, :as => :string, :label => false, :input_html => {:class => "filter_args_input"}, :wrapper_html => {:class => "filter_args"}